In [218]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
df = pd.read_csv('/Users/prathamsharma/Desktop/ML_Dataset/Churn_Modelling.csv')

In [219]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [221]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [222]:
df.duplicated().sum()

0

In [223]:
df["Exited"].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [224]:
df.drop(columns=["RowNumber","CustomerId","Surname"],inplace=True)

In [225]:
df = pd.get_dummies(df,columns=["Geography","Gender"],drop_first=True)

In [226]:
from sklearn.model_selection import train_test_split

x=df.drop(columns=["Exited"],axis=1)
y=df["Exited"]
x_train , x_test ,y_train ,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [227]:
x_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
2694,628,29,3,113146.98,2,0,1,124749.08,True,False,True
5140,626,29,4,105767.28,2,0,0,41104.82,False,False,False
2568,612,47,6,130024.87,1,1,1,45750.21,True,False,False
3671,646,52,6,111739.40,2,0,1,68367.18,True,False,False
7427,714,33,8,122017.19,1,0,0,162515.17,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...
2895,621,47,7,107363.29,1,1,1,66799.28,True,False,True
7813,684,63,3,81245.79,1,1,0,69643.31,True,False,False
905,672,45,9,0.00,1,1,1,92027.69,False,False,False
5192,663,39,8,0.00,2,1,1,101168.90,False,False,False
235,763,42,6,100160.75,1,1,0,33462.94,True,False,True

In [228]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(8000, 11)
(2000, 11)
(8000,)
(2000,)

In [229]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.fit_transform(x_test)

In [230]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [231]:
model = Sequential()

#input layer
model.add(Dense(11,activation="relu",input_dim=11))
#3 hidden layers 

#adding one more layer
model.add(Dense(11,activation="relu",input_dim=11))
#since there are 11 input columns

#output layer
model.add(Dense(1,activation="sigmoid"))

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [232]:
model.summary()

Model: "sequential_9"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_20 (Dense)                │ (None, 11)             │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_21 (Dense)                │ (None, 11)             │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_22 (Dense)                │ (None, 1)              │            12 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 276 (1.08 KB)

 Trainable params: 276 (1.08 KB)

 Non-trainable params: 0 (0.00 B)

In [233]:
model.compile(loss="binary_crossentropy",optimizer="Adam",metrics=["accuracy"])

In [234]:
model.fit(x_train_scaled,y_train,epochs=25)

Epoch 1/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 397us/step - accuracy: 0.7396 - loss: 0.5566
Epoch 2/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - accuracy: 0.7958 - loss: 0.4569
Epoch 3/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.8025 - loss: 0.4319
Epoch 4/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.8229 - loss: 0.4117
Epoch 5/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - accuracy: 0.8469 - loss: 0.3764
Epoch 6/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.8480 - loss: 0.3698
Epoch 7/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.8528 - loss: 0.3500
Epoch 8/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.8580 - loss: 0.3495
Epoch 9/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 380us/step - accuracy: 0.8592 - loss: 0.3434
Epoch 10/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - accuracy: 0.8571 - loss: 0.3512
Epoch 11/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - accuracy: 0.8628 - loss: 0.3409
Epoch 12/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 387us/step - accuracy: 0.8602 - loss: 0.3397
Epoch 13/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.8634 - loss: 0.3409
Epoch 14/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.8650 - loss: 0.3321
Epoch 15/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.8583 - loss: 0.3386
Epoch 16/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.8588 - loss: 0.3376
Epoch 17/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.8699 - loss: 0.3268
Epoch 18/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.8621 - loss: 0.3327
Epoch 19/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.8583 - loss: 0.3451
Epoch 20/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.8669 - loss: 0.3345
Epoch 21/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.8623 - loss: 0.3358
Epoch 22/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.8595 - loss: 0.3389
Epoch 23/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.8580 - loss: 0.3376
Epoch 24/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - accuracy: 0.8603 - loss: 0.3366
Epoch 25/25
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 354us/step - accuracy: 0.8635 - loss: 0.3277

In [235]:
model.layers[0].get_weights()
#first are the paramter weights
# swcond one are the biases

[array([[-9.40738246e-02,  5.49363755e-02,  2.50472963e-01,
         -1.47821829e-01, -1.44783193e-02,  1.32874593e-01,
         -7.16459611e-03,  1.24655530e-01,  1.41502336e-01,
          4.62203734e-02,  2.64518231e-01],
        [-5.34264185e-02,  5.56896985e-01, -1.40078161e-02,
         -2.40729693e-02, -7.29328930e-01,  2.55158722e-01,
          6.76645711e-02, -8.62911582e-01, -2.89403141e-01,
         -8.48305166e-01, -2.51762182e-01],
        [-3.07308752e-02,  2.13727713e-01, -3.04335445e-01,
          3.72559652e-02,  2.41956655e-02, -5.73081076e-02,
          9.54379886e-03, -1.36698470e-01,  1.65992603e-01,
         -4.15218510e-02,  2.11857527e-01],
        [-2.54574325e-02, -5.58638088e-02, -1.83477685e-01,
          7.51813054e-01,  2.05738053e-01, -1.27930701e-01,
          3.03517640e-01, -2.20507026e-01, -7.66169727e-01,
         -8.01608637e-02, -6.12821840e-02],
        [-9.71162677e-01,  3.56240153e-01,  1.86047837e-01,
          6.68875992e-01,  1.63668975e-01, -4.64434803e-01,
          1.08543026e+00, -3.95633996e-01,  9.95521918e-02,
          7.79919103e-02, -3.51951420e-01],
        [-1.80140719e-01,  1.90353751e-01,  2.75536984e-01,
         -8.08720216e-02, -1.90398410e-01,  2.50217676e-01,
         -1.50390472e-02,  3.11189592e-01, -2.38695040e-01,
         -3.62183005e-02,  6.69588685e-01],
        [-1.20863497e-01,  6.10937715e-01,  1.92308843e-01,
          4.19687867e-01,  7.66201019e-02, -3.18144798e-01,
         -6.28413484e-02, -5.66066623e-01,  1.01094007e-01,
         -3.61875057e-01, -8.63235071e-02],
        [-2.27138754e-02, -9.05745570e-03,  2.82587558e-01,
         -7.18141645e-02, -7.68144578e-02,  2.26674508e-02,
         -2.82490049e-02, -3.69756892e-02,  4.05040264e-01,
          8.10080266e-04, -4.71809685e-01],
        [-8.73220637e-02, -2.90303349e-01,  4.45572406e-01,
          3.25638145e-01,  9.90458801e-02,  2.75100231e-01,
         -1.78473681e-01,  4.99371082e-01, -5.21155894e-01,
         -4.45958555e-01, -1.03990987e-01],
        [ 1.18681334e-01, -8.41172263e-02,  3.45476240e-01,
         -1.32564977e-01,  4.73012537e-01, -2.46590793e-01,
          8.95317197e-02,  2.43756488e-01,  4.21627194e-01,
         -7.55932510e-01, -4.23008353e-02],
        [-4.99629229e-02, -1.35143558e-02,  4.74208117e-01,
         -2.01718718e-01,  8.54192227e-02, -1.80170283e-01,
         -1.02617867e-01, -3.71008575e-01, -1.74991861e-01,
         -4.78547923e-02,  3.86457980e-01]], dtype=float32),
 array([ 0.15511161,  0.23852532,  0.2721006 , -0.21765524,  0.5272586 ,
        -0.13238071, -0.43940812,  0.11614148,  0.05626703,  0.5514517 ,
         0.17650394], dtype=float32)]

In [236]:
y_log = model.predict(x_test_scaled)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 495us/step

In [237]:
y_pred = np.where(y_log>0.5,1,0)
# if y_log is >0.5 then y_pred is 1 otherwise 0

In [238]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.861

In [239]:
# by changing number of epochs u can improve the accuray
# use relu instead of sigmoid function as activation function to get better results
# increase the number of hidden layers 

#with epochs as 10 and activation function sigmoid and 3 hidden layers our accuracy was 0.795